# Introdução a Data Science

In [1]:
# Carregando as bibliotecas 
import pandas as pd

In [2]:
# Lendo os dados e atribuindo a uma variável 
notas = pd.read_csv('dados/ml-latest-small/ratings.csv', sep=',')

In [3]:
# Visualizando as primeiras linhas dos dados
notas.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [4]:
# Verificando a dimensão dos dados
notas.shape

(100836, 4)

In [5]:
 # Renomeado as colunas do dataframe
notas.columns = ['usuariosID', 'filmesID', 'notas', 'momentos']

In [6]:
notas.head()

   usuariosID  filmesID  notas   momentos
0           1         1    4.0  964982703
1           1         3    4.0  964981247
2           1         6    4.0  964982224
3           1        47    5.0  964983815
4           1        50    5.0  964982931

In [7]:
# Pegando os valores de uma coluna específica (Series)
notas['notas'].head()

0    4.0
1    4.0
2    4.0
3    5.0
4    5.0
Name: notas, dtype: float64

In [8]:
 # Visualizando os valores únicos
notas['notas'].unique()

array([4. , 5. , 3. , 2. , 1. , 4.5, 3.5, 2.5, 0.5, 1.5])

In [12]:
# Visualizando a frequência de cada valor
notas['notas'].value_counts()

4.0    26818
3.0    20047
5.0    13211
3.5    13136
4.5     8551
2.0     7551
2.5     5550
1.0     2811
1.5     1791
0.5     1370
Name: notas, dtype: int64

In [13]:
 # Calculando a média das notas
notas['notas'].mean()

3.501556983616962