In [1]:
# importando a biblioteca pandas
import pandas as pd

In [2]:
# Carregando o arquivo CSV
df = pd.read_csv('cursos-prouni.csv')

In [3]:
# Exibir 5 primeiras linhas do DataFrame
df.head()

,uf_busca,cidade_busca,universidade_nome,campus_nome,nome,grau,turno,mensalidade,bolsa_integral_cotas,bolsa_integral_ampla,bolsa_parcial_cotas,bolsa_parcial_ampla,nota_integral_ampla,nota_integral_cotas,nota_parcial_ampla,nota_parcial_cotas
0,AC,Acrelandia,Universidade Paulista - UNIP,ACRELANDIA - Centro,Administração,Bacharelado,Curso a Distância,289.0,1.0,1.0,NaN,NaN,572.74,548.0,NaN,NaN
1,AC,Cruzeiro do Sul,Centro Universitário Internacional - Uninter -...,PAP CRUZEIRO DO SUL - Centro,Administração,Bacharelado,Curso a Distância,298.0,1.0,NaN,NaN,NaN,646.14,NaN,NaN,NaN
2,AC,Cruzeiro do Sul,Faculdade Educacional da Lapa - FAEL,AC - CRUZEIRO DO SUL - POLO EAD - CENTRO,Administração,Bacharelado,Curso a Distância,325.0,NaN,NaN,1.0,NaN,NaN,NaN,577.62,NaN
3,AC,Cruzeiro do Sul,Universidade Paulista - UNIP,CRUZEIRO DO SUL - Centro,Administração,Bacharelado,Curso a Distância,319.0,1.0,NaN,NaN,NaN,616.68,NaN,NaN,NaN
4,AC,Rio Branco,Centro Universitário Internacional - Uninter -...,PAP RIO BRANCO - Bosque,Administração,Bacharelado,Curso a Distância,298.0,NaN,NaN,1.0,NaN,NaN,NaN,569.00,NaN

In [4]:
# Verificando o tamanho do DataFrame 'linhas, colunas'
df.shape

(41447, 16)

In [5]:
# Os tipos de dados das colunas
df.dtypes

uf_busca                 object
cidade_busca             object
universidade_nome        object
campus_nome              object
nome                     object
grau                     object
turno                    object
mensalidade             float64
bolsa_integral_cotas    float64
bolsa_integral_ampla    float64
bolsa_parcial_cotas     float64
bolsa_parcial_ampla     float64
nota_integral_ampla     float64
nota_integral_cotas     float64
nota_parcial_ampla      float64
nota_parcial_cotas      float64
dtype: object

In [6]:
# Análise matemática das colunas numéricas
df.describe()

,mensalidade,bolsa_integral_cotas,bolsa_integral_ampla,bolsa_parcial_cotas,bolsa_parcial_ampla,nota_integral_ampla,nota_integral_cotas,nota_parcial_ampla,nota_parcial_cotas
count,41447.000000,32520.000000,25404.000000,8828.000000,13041.000000,32520.000000,16802.000000,16350.000000,5519.000000
mean,622.636966,1.535394,2.513541,1.873018,8.632544,575.982999,564.470439,527.517136,511.799638
std,606.442296,2.191578,3.019549,2.336403,18.372991,57.827594,57.869145,60.202170,56.787140
min,139.000000,0.000000,1.000000,1.000000,1.000000,450.000000,450.000000,450.000000,450.000000
25%,278.000000,0.000000,1.000000,1.000000,1.000000,544.360000,532.865000,453.980000,450.000000
50%,393.350000,1.000000,1.000000,1.000000,2.000000,580.740000,571.450000,532.420000,511.820000
75%,825.000000,2.000000,3.000000,2.000000,6.000000,614.145000,603.315000,573.235000,557.170000
max,9999.990000,58.000000,67.000000,74.000000,350.000000,781.200000,792.240000,776.360000,768.340000

In [7]:
# Descrever os dados
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41447 entries, 0 to 41446
Data columns (total 16 columns):
uf_busca                41447 non-null object
cidade_busca            41447 non-null object
universidade_nome       41447 non-null object
campus_nome             41447 non-null object
nome                    41447 non-null object
grau                    41447 non-null object
turno                   41447 non-null object
mensalidade             41447 non-null float64
bolsa_integral_cotas    32520 non-null float64
bolsa_integral_ampla    25404 non-null float64
bolsa_parcial_cotas     8828 non-null float64
bolsa_parcial_ampla     13041 non-null float64
nota_integral_ampla     32520 non-null float64
nota_integral_cotas     16802 non-null float64
nota_parcial_ampla      16350 non-null float64
nota_parcial_cotas      5519 non-null float64
dtypes: float64(9), object(7)
memory usage: 4.0+ MB

In [8]:
# Quantidade de cursos por UF
df['uf_busca'].value_counts()

SP    11533
MG     4175
PR     3918
RS     3060
BA     2505
SC     2195
RJ     1442
GO     1278
PA     1201
PE     1148
MT     1063
DF     1063
ES      825
CE      816
MS      785
MA      679
PB      596
RO      463
AM      429
PI      405
TO      343
RN      342
AL      327
SE      323
AP      219
AC      203
RR      111
Name: uf_busca, dtype: int64

In [9]:
# Qual o curso com a mensalidade mais alta
df[df['mensalidade'] == df['mensalidade'].max()]

,uf_busca,cidade_busca,universidade_nome,campus_nome,nome,grau,turno,mensalidade,bolsa_integral_cotas,bolsa_integral_ampla,bolsa_parcial_cotas,bolsa_parcial_ampla,nota_integral_ampla,nota_integral_cotas,nota_parcial_ampla,nota_parcial_cotas
31987,MS,Campo Grande,Universidade Anhanguera - UNIDERP,CAMPO GRANDE - SEDE - Miguel Couto,Medicina,Bacharelado,Integral,9999.99,15.0,14.0,NaN,NaN,740.22,726.46,NaN,NaN

In [10]:
# Qual o curso com a menor mensalidade
df[df['mensalidade'] == df['mensalidade'].min()][['uf_busca', 'universidade_nome', 'mensalidade']]

      uf_busca                                  universidade_nome  mensalidade
20454       PA                       Universidade Paulista - UNIP        139.0
22934       DF  Centro Universitário Planalto do Distrito Fede...        139.0
39118       ES                       Universidade Paulista - UNIP        139.0

In [11]:
# Qual mensalidade mais alta por UF
df.groupby('uf_busca')['mensalidade'].max()

uf_busca
AC    9674.34
AL    7290.00
AM    2127.05
AP    3607.62
BA    9048.00
CE    9836.40
DF    6757.92
ES    6022.28
GO    6484.47
MA    8281.38
MG    9350.00
MS    9999.99
MT    9208.00
PA    8508.54
PB    8350.00
PE    7250.00
PI    8402.00
PR    8466.72
RJ    9023.07
RN    6505.09
RO    6909.97
RR    1463.05
RS    8329.95
SC    6922.15
SE    6490.00
SP    9715.61
TO    7800.00
Name: mensalidade, dtype: float64

In [12]:
# Mostrar todos os dados dos cursos mais caros de cada UF
df.loc[df.groupby('uf_busca')['mensalidade'].idxmax()][['uf_busca', 'universidade_nome', 'nome', 'mensalidade']]

,uf_busca,universidade_nome,nome,mensalidade
31940,AC,Faculdade Barão do Rio Branco - FAB,Medicina,9674.34
31941,AL,Centro Universitário Tiradentes - FITS,Medicina,7290.00
32962,AM,Faculdade Uninassau Manaus,Odontologia,2127.05
32966,AP,Instituto Macapaense de Ensino Superior - IMMES,Odontologia,3607.62
31945,BA,Faculdade de Ciências Agrárias e da Saúde - FAS,Medicina,9048.00
12916,CE,Faculdade Princesa do Oeste - FPO,Enfermagem,9836.40
31950,DF,Faculdades Integradas da União Educacional do ...,Medicina,6757.92
31952,ES,Centro Universitário do Espírito Santo - Unesc...,Medicina,6022.28
31957,GO,Pontifícia Universidade Católica de Goiás - PU...,Medicina,6484.47
31959,MA,Universidade do Ceuma - Uniceuma - UNICEUMA,Medicina,8281.38
31983,MG,Centro Universitário Presidente Tancredo de Al...,Medicina,9350.00
31987,MS,Universidade Anhanguera - UNIDERP,Medicina,9999.99
31988,MT,Universidade de Cuiabá - UNIC/UNIME,Medicina,9208.00
31990,PA,Faculdade Metropolitana da Amazônia - FAMAZ,Medicina,8508.54
31995,PB,Faculdade de Medicina Nova Esperança - FAMENE,Medicina,8350.00
31997,PE,Faculdade de Medicina de Olinda - FMO,Medicina,7250.00
32001,PI,"Faculdade de Ciências Humanas,Exatas e da Saúd...",Medicina,8402.00
11916,PR,Faculdade Dom Bosco - FDB,Educação Física,8466.72
32012,RJ,Faculdade Redentor - FACREDENTOR,Medicina,9023.07
32017,RN,Universidade Potiguar - UNP,Medicina,6505.09
32019,RO,Centro Universitário São Lucas - UniSL,Medicina,6909.97
33143,RR,Faculdade Cathedral - FACES,Odontologia,1463.05
32022,RS,Universidade de Caxias do Sul - UCS,Medicina,8329.95
32036,SC,Centro Universitário para O Desenvolvimento do...,Medicina,6922.15
32038,SE,Universidade Tiradentes - UNIT,Medicina,6490.00
32058,SP,Universidade Cidade de São Paulo - UNICID,Medicina,9715.61
32062,TO,"Faculdade de Ciências Humanas, Econômicas e da...",Medicina,7800.00

In [14]:
# Mensalidades entre 500 e 1000
df[(df['mensalidade'] > 500) & (df['mensalidade'] < 1000)][['uf_busca', 'universidade_nome', 'nome', 'mensalidade']]

,uf_busca,universidade_nome,nome,mensalidade
5,AC,Faculdade Barão do Rio Branco - FAB,Administração,823.22
9,AC,Faculdade Meta - FAMETA,Administração,522.79
10,AC,Unama Faculdade da Amazônia de Rio Branco - FM...,Administração,672.15
13,AL,Faculdade Uninassau Arapiraca,Administração,586.63
18,AL,Centro Universitário Maurício de Nassau de Mac...,Administração,586.63
19,AL,Centro Universitário Tiradentes - FITS,Administração,669.00
20,AL,Centro Universitário Tiradentes - FITS,Administração,669.00
23,AL,Faculdade da Seune - SEUNE,Administração,535.00
24,AL,Faculdade Estácio de Alagoas - Estácio Fal - E...,Administração,712.86
25,AL,Faculdade Estácio de Alagoas - Estácio Fal - E...,Administração,627.14
27,AL,Faculdade Pitágoras de Maceió,Administração,548.00
34,AM,Centro Universitário do Norte - Uninorte - UNI...,Administração,699.00
35,AM,Centro Universitário do Norte - Uninorte - UNI...,Administração,699.00
36,AM,Centro Universitário do Norte - Uninorte - UNI...,Administração,699.00
40,AM,Faculdade Estácio do Amazonas - Estácio Amazon...,Administração,770.00
41,AM,Faculdade Estácio do Amazonas - Estácio Amazon...,Administração,684.29
42,AM,Faculdade La Salle,Administração,571.32
43,AM,Faculdade Martha Falcão - FMF,Administração,936.24
44,AM,Faculdade Martha Falcão - FMF,Administração,936.24
45,AM,Faculdade Metropolitana de Manaus - FAMETRO,Administração,562.00
46,AM,Faculdade Salesiana Dom Bosco - FSDB,Administração,677.10
47,AM,Faculdade Uninassau Manaus,Administração,672.15
49,AM,Universidade Paulista - UNIP,Administração,603.98
50,AM,Universidade Paulista - UNIP,Administração,582.33
55,AP,Centro de Ensino Superior do Amapá - Ceap - CEAP,Administração,806.55
59,AP,Faculdade de Tecnologia do Amapá - META,Administração,603.20
61,AP,Faculdade Estácio do Amapá - Estácio Amapá - E...,Administração,941.43
62,AP,Unama Faculdade da Amazônia de Macapá,Administração,857.71
70,BA,Faculdade de Tecnologia e Ciências da Bahia - ...,Administração,827.00
72,BA,Faculdade Regional de Alagoinhas - FARAL,Administração,827.00
...,...,...,...,...
41370,PB,Instituto Paraibano de Ensino Renovado - INPER,Turismo,560.89
41376,PE,Faculdade Escritor Osman da Costa Lins - FACOL,Turismo,676.00
41381,PR,Faculdade Paranaense - FAPAR,Turismo,539.24
41382,PR,Centro Universitário Dinâmica das Cataratas - ...,Turismo,594.00
41385,RJ,Centro Universitário Anhanguera de Niterói - U...,Turismo,598.00
41386,RJ,Faculdade São José - FSJ,Turismo,697.50
41389,RS,Universidade Feevale - FEEVALE,Turismo,821.45
41390,RS,Universidade do Sul de Santa Catarina - UNISUL,Turismo,554.37
41397,SP,Universidade Paulista - UNIP,Turismo,676.50
41398,SP,Universidade Paulista - UNIP,Turismo,539.04
41404,SP,Universidade Paulista - UNIP,Turismo,652.94
41405,SP,Faculdade de Presidente Epitácio - Fape - FAPE,Turismo,692.10
41406,SP,União das Faculdades dos Grandes Lagos - UNILAGO,Turismo,860.00
41407,SP,Universidade Paulista - UNIP,Turismo,527.30
41410,SP,Faculdade de São Paulo - FASP,Turismo,692.10
41412,SP,Universidade Nove de Julho - UNINOVE,Turismo,556.00
41414,SP,Universidade Paulista - UNIP,Turismo,605.06
41415,SP,Universidade Paulista - UNIP,Turismo,564.30
41416,SP,Universidade Paulista - UNIP,Turismo,564.20
41418,SP,Universidade Paulista - UNIP,Turismo,833.90
41419,SP,Universidade Paulista - UNIP,Turismo,648.36
41420,SP,Universidade Paulista - UNIP,Turismo,659.46
41427,MG,Instituto Belo Horizonte de Ensino Superior - ...,Turismo Receptivo,521.66
41433,SP,Universidade Anhembi Morumbi - UAM,Visagismo e Terapias Capilares,961.00
41434,BA,Faculdade Regional da Bahia - FARB,Viticultura e Enologia,840.00
41435,BA,Faculdade Regional da Bahia - FARB,Viticultura e Enologia,840.00
41437,MA,Instituto de Ensino Superior Múltiplo - IESM,Zootecnia,689.22
41438,MG,Centro Universitário de Patos de Minas - Unipa...,Zootecnia,951.29
41441,MT,Faculdade de Ciências Sociais Aplicadas do Val...,Zootecnia,990.00
41442,PA,Faculdade de Ensino Superior da Amazônia Reuni...,Zootecnia,932.83

In [16]:
# Quais as 5 maiores mensalidades
df.nlargest(5, 'mensalidade')[['uf_busca', 'universidade_nome', 'nome', 'mensalidade']]

,uf_busca,universidade_nome,nome,mensalidade
31987,MS,Universidade Anhanguera - UNIDERP,Medicina,9999.99
12916,CE,Faculdade Princesa do Oeste - FPO,Enfermagem,9836.40
32058,SP,Universidade Cidade de São Paulo - UNICID,Medicina,9715.61
37058,CE,Faculdade Princesa do Oeste - FPO,Psicologia,9689.34
31940,AC,Faculdade Barão do Rio Branco - FAB,Medicina,9674.34

In [17]:
# Quais as 5 menores mensalidades
df.nsmallest(5, 'mensalidade')[['uf_busca', 'universidade_nome', 'nome', 'mensalidade']]

,uf_busca,universidade_nome,nome,mensalidade
20454,PA,Universidade Paulista - UNIP,Gestão Ambiental,139.0
22934,DF,Centro Universitário Planalto do Distrito Fede...,Gestão de Recursos Humanos,139.0
39118,ES,Universidade Paulista - UNIP,Serviço Social,139.0
30989,SP,Faculdade de São VIcente - FSV,Marketing,144.0
20836,AC,Universidade Paulista - UNIP,Gestão Comercial,149.0